*{
  margin: 0;
  padding: 0;
  border: 0;
}
.menu-principal{
    background-color: #E1E1E1;
}
.conteudo{
    text-align: center;
}
.preço{
    color: grey;
    font-size: 22px;
}
.cartao{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.cartao button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.cartao button:hover {
   opacity: 0.7;
}